.wrapper {
    display: block;
    padding: 2em;
}

.card {
    border: 1px solid;
    display: grid;
    grid-template-areas: "icon type value show delete";
    width: 60%;
    height: 5em;
    margin: 1rem auto 2rem auto;

}

.expanded {
    grid-template-areas: "icon type value" "comment hide delete";
    height: 10em;
}

.icon {
    grid-area: icon;
    font-size: 2em;
}

.type {
    grid-area: type;

}

.value {
    grid-area: value;
}

.comment {
    grid-area: comment;

}

.delete {
    grid-area: delete;
}

.show {
    grid-area: show;
}

.hide {
    grid-area: hide;
}




