.select {
    position: relative;
    height: 45px;
    border: 1px solid #000;
    background-color: transparent;
    width: 50%;
    margin: auto;
    font-size: 1em;
    -webkit-appearance: menulist-button;
}
