.input {
    height: 45px;
    border: 1px solid #000;
    background-color: transparent;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}